/*Планшет разрешения 800x1043*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #main div.block-main div.description {
        font-size: 16px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    #main div.block-main div.title-main {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1200px) {
    #main div.search {
        height: 350px;
    }
    .box__max div.carousel-box div.item .name-box {
        top: 75px;
        font-size: 85px;
    }

    .image_box___m .image div.title-img {
        padding: 10px 5px;
    }
    .image_box___m .image div.title-img div {
        font-size: 14px;
    }
    .grid__m div.item.max div.content-item div.image {
        min-height: 345px;
    }
    .grid__m div.item.max div.content-item div.money div.price {
        font-size: 40px;
    }
    .grid__m div.item.max div.content-item div.money{
        font-size:32px;
        padding: 7px 35px;
    }

    .grid__m div.item div.content-item div.image {
        min-height: 165px;
    }

    #private-tour div.services div.block {
        border: none;
        height: auto;
    }
    #private-tour div.services div.block span {
        height: 60px;
        margin: 0 23px 10px 30px;
        padding-bottom: 18px;
        width: 50px;
    }
    #main .slick-slide img {
        min-height: 100%;
    }
}

@media only screen and (max-width: 992px) {
    button.green, button.blue {
        padding: 7px 25px;
    }
    .navbar-inverse .navbar-toggle {
        border:none;
    }
    #navbar .btn-group {
        position: absolute;
        top: 0;
        right: 0;
    }
    #header div.top div.group {
        margin-left: 60px;
    }
    .box__max div.carousel-box div.item .name-box {
        font-size: 60px;
        top: 32%;
    }
    .image_box___m .image div.title-img {
        padding: 20px 5px;
    }
    .image_box___m .image div.title-img div {
        font-size: 16px;
    }
    .sidebar {
        background: #fff none repeat scroll 0 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 500;
        display: none;
    }
    .booking-button-m {
        display: block;
    }
    div.sidebar .close {
        display: block;
        font-size: 50px;
        position: relative;
        top: -30px;
    }
    .sidebar .contact {
        display: none;
    }

}
@media only screen and (max-width: 767px) {
    #header .navbar-inverse {
        background-color: #222222;
    }
    .container.md,#header .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .box__max {
        padding: 5px;
    }
    .box__max div.item .name-box {

    }
    #main h1.title-main {
        font-size: 30px;
    }
    #main div.info {
        margin: 0px;
    }
    #main div.info.pay,#main div.info.br{
        background-size: 50% 100%;
        background-position: center center;
    }
    #main .slick-slide img {
        height: 100%;
        width: 900px;
    }

    #navbar .navbar-toggle {
        position: relative;
        top: 13px;
    }
    #header .basket {
        position: absolute;
        right: 30px;
        top: 20px;
    }
    /*Меню*/
    #navbar-collapse {
        padding: 15px 0;
        margin-top: 25px;
        position: relative;
    }
    #navbar div.navigation {
        padding: 0 20px;
    }
    #navbar div.navigation div.login {
        margin-bottom: 5px;
        color: #fff;
    }
    #navbar div.navigation div.login .name {
        padding: 0 0 5px;
    }
    #navbar div.navigation div.content-nav a.login {
        margin: 0 5px 0 0;
    }
    #navbar div.navigation div.content-nav a.reg {
        margin-left: 5px;
    }
    #navbar div.navigation .drows {
        padding: 5px 0;
    }
    #navbar div.navigation .drows .dropdown{
        font-size: 11px;
        margin-bottom: 10px;
    }
    #navbar div.navigation .drows .dropdown .dropdown-menu {
        position: static;
        float:none;
        border:none;
        border-radius: 0px;
        box-shadow: 0 0 0 0 #000;
        background-color: #222222;
    }
    #navbar div.navigation .drows .dropdown .dropdown-menu a {
        color:#fff;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #27282D;
    }
    #navbar div.navigation .drows .dropdown .flag {
        padding: 0 5px 0 0;
        vertical-align: text-top;
        width: 22px;
    }
    .box__max div.carousel-box div.item .name-box {
        font-size: 80px;
        top: 40%;
    }
    #main .advantages {
        padding: 30px 0 5px;
    }
    #main .advantages > div {
        font-size: 12px;
        margin-bottom: 30px;
    }
    #main .advantages .image-wrapper {
        height: 80px;
        margin-bottom: 20px;
        padding: 12px;
        width: 80px;
    }
    .grid__m div.item {
        width: 330px;
        float: unset;
    }
    #page-city div.city {
        padding: 70px 10px;
    }
}
@media only screen and (max-width: 600px) {
    #main h1.title-main {
        font-size: 26px;
        top: -75px;
    }
    #header div.top .navbar {
        min-height: 50px;
    }
    #navbar .navbar-toggle {
        top: 0px;
    }
    .navbar-brand {
        padding: 10px 15px;
    }
    #header div.top .logo {
        height: 28px;
        width: 115px;
        margin: 0px;
    }
    .box__max div.item {
        height: 12.5em;
    }
    .box__max div.item .name .name-box {
        font-size: 34px;
    }
}
@media only screen and (max-width: 540px) {
    #main .input-group-btn, #main input.form-control.search {
        display: none;
    }
    #main h1.title-main {
        margin-top: 65px;
    }

    #main div.block-main div.description {
        font-size: 13px;
        margin-left: 12px;
        line-height: 18px;
        margin-bottom: 20px;
        height: 60px;
    }
    #main div.info.pay,#main div.info.br{
        background-size: 100% 100%;
        background-position: center center;
    }

    #main div.block-main div.title-main {
        font-size: 14px;
    }
    .box__max div.carousel-box div.item .name-box {
        font-size: 60px;
        top: 35%;
    }
    #main div.block-main .icon-g {
        height: 60px;
        width: 60px;
        background-size: 55px auto;
    }
    #main div.block-main div.icon {
        background-size: 60px auto;
        height: 60px;
        width: 60px;
    }
    #main div.block-main div.icon.port {
        background-position: 0 -64px;
    }
    #main div.block-main div.icon.mes {
        background-position: -5px -124px;
    }
    .image_box___m .image div.title-img {
        padding: 15px 5px;
    }
    .image_box___m .image div.title-img div {
        font-size: 14px;
    }
    .image_box___m .image .name-img {
        font-size: 55px;
    }
    #main h2.title-main {
        font-size: 20px;
    }
}
@media only screen and (max-width: 465px) {
    .image_box___m .image .name-img {
        font-size: 40px;
    }
    .image_box___m .image div.title-img {
        padding: 10px 3px;
    }
    .box__max div.item {
        height: 9.5em
    }
    .box__max div.item .name .name-box {
        font-size: 28px;
    }
    #main .grid__m {
        width: 320px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width: 375px) {
    .box__max div.item {
        height: 7.5em
    }
    .box__max div.item .name .name-box {
        font-size: 28px;
    }
}
@media only screen and (max-width: 360px) {
    .grid__m div.item {
        width: 100%;
    }
    .grid__m div.item div.content-item {
        height: 305px;
    }
    #main .grid__m {
        width: auto;
    }
}