/*Планшет разрешения 800x1043*/
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #main div.block-main div.description {
        font-size: 16px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
    #main div.block-main div.title-main {
        font-size: 16px;
    }
}


@media only screen and (max-width: 1200px) {
    .box__max div.carousel-box div.item .name-box {
        top: 75px;
        font-size: 85px;
    }

    .image_box___m .image div.title-img {
        padding: 10px 5px;
    }
    .image_box___m .image div.title-img div {
        font-size: 14px;
    }
    .grid__m div.item.max div.content-item div.image {
        min-height: 345px;
    }
    .grid__m div.item.max div.content-item div.money div.price {
        font-size: 40px;
    }
    .grid__m div.item.max div.content-item div.money{
        font-size:32px;
        padding: 7px 35px;
    }

    .grid__m div.item div.content-item div.image {
        min-height: 165px;
    }
}

@media only screen and (max-width: 992px) {
    button.green, button.blue {
        padding: 7px 25px;
    }
    #navbar .btn-group {
        position: absolute;
        top: 0;
        right: 0;
    }
    .box__max div.carousel-box div.item .name-box {
        font-size: 60px;
        top: 32%;
    }
    .image_box___m .image div.title-img {
        padding: 20px 5px;
    }
    .image_box___m .image div.title-img div {
        font-size: 16px;
    }

}
@media only screen and (max-width: 768px) {
    #main h1.title-main {
        font-size: 30px;
        top: -108px;
    }
    #main div.info {
        margin: 0px;
    }
    #main div.info.pay,#main div.info.br{
        background-size: 50% 100%;
        background-position: center center;
    }
    .slick-slide img {
        height: 380px;
    }
    #navbar .navbar-toggle {
        left: -5px;
        position: relative;
        top: 13px;
    }
    /*Меню*/
    #navbar-collapse {
        padding: 15px 0;
        margin-top: 25px;
    }
    #navbar div.navigation {
        padding: 0 20px;
    }
    #navbar div.navigation div.login {
        margin-bottom: 5px;
        color: #fff;
    }
    #navbar div.navigation div.login .name {
        padding: 0 0 5px;
    }
    #navbar div.navigation div.content-nav a.login {
        margin: 0 5px 0 0;
    }
    #navbar div.navigation div.content-nav a.reg {
        margin-left: 5px;
    }
    .box__max div.carousel-box div.item .name-box {
        font-size: 80px;
        top: 40%;
    }
    #main .advantages {
        padding: 30px 0 5px;
    }
    #main .advantages > div {
        font-size: 12px;
        margin-bottom: 30px;
    }
    #main .advantages .image-wrapper {
        height: 80px;
        margin-bottom: 20px;
        padding: 12px;
        width: 80px;
    }
    .grid__m div.item {
        width: 330px;
        float: unset;
    }
    #page-city div.city {
        padding: 70px 10px;
    }
}
@media only screen and (max-width: 600px) {
    .box__max div.carousel-box div.item .name-box {

    }
}
@media only screen and (max-width: 540px) {
    #main div.block-main div.description {
        font-size: 13px;
        margin-left: 12px;
        line-height: 18px;
        margin-bottom: 20px;
        height: 60px;
    }
    #main div.info.pay,#main div.info.br{
        background-size: 100% 100%;
        background-position: center center;
    }
    #header div.top .logo {
        height: 40px;
        width: 165px;
    }
    #main div.block-main div.title-main {
        font-size: 14px;
    }
    .box__max div.carousel-box div.item .name-box {
        font-size: 60px;
        top: 35%;
    }
    #main div.block-main .icon-g {
        height: 60px;
        width: 60px;
        background-size: 55px auto;
    }
    #main div.block-main div.icon {
        background-size: 60px auto;
        height: 60px;
        width: 60px;
    }
    #main div.block-main div.icon.port {
        background-position: 0 -64px;
    }
    #main div.block-main div.icon.mes {
        background-position: -5px -124px;
    }
    .image_box___m .image div.title-img {
        padding: 15px 5px;
    }
    .image_box___m .image div.title-img div {
        font-size: 14px;
    }
    .image_box___m .image .name-img {
        font-size: 55px;
    }
}
@media only screen and (max-width: 465px) {
    .image_box___m .image .name-img {
        font-size: 40px;
    }
    .image_box___m .image div.title-img {
        padding: 10px 3px;
    }
}